*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn{
    background-color: #469165;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

