*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}

.btn{
    background-color: #469165;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.banner{
    padding: 300px;
    background-image:url("assets/hero-bg.png");
    max-width: 1600px;
    background-repeat: no-repeat;
    
}

.banner .hero-section{
  
   text-align: center;
}
.banner .hero-section .text{
   padding: 7px;
    color: #469165;
    font-weight: 600;
    border-radius: 1010px ;
    background-color: white;
}

.banner .hero-section .circle{
    margin-bottom: 15px;
}

.banner .hero-section .banner-details .first-h1{
   font-size: 75px;
   font-weight: bold;
   line-height: 72px;
   color: #FFFFFF;
}
.banner .hero-section .banner-details .second-h1{
   font-size: 75px;
   font-weight: bold;
   line-height: 72px;
   color:#30B868;
   margin-bottom: 16px;
}
.banner .hero-section .banner-details p{
    color: #FFFFFF;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 10px;

}
.btn1{
    background-color: #469165;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 16px;
    border-radius: 5px;
    border: none;
}
.btn2{
    background: none;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 16px;
    border-radius: 5px;
    border-color: #FFFFFF;
}
