*{
    margin: 0;
    padding: 0;
   
}

.inter{
  font-family: "Inter", sans-serif;
}

header nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}

.btn{
    background-color: #469165;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.banner{
    padding: 100px;
    background-image:url("assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.banner .hero-section{
  
   text-align: center;
}
.banner .hero-section .text{
   padding: 7px;
    color: #469165;
    font-weight: 600;
    border-radius: 1010px ;
    background-color: white;
}

.banner .hero-section .circle{
    margin-bottom: 15px;
}

.banner .hero-section .banner-details .first-h1{
   font-size: 75px;
   font-weight: bold;
   line-height: 72px;
   color: #FFFFFF;
}
.banner .hero-section .banner-details .second-h1{
    margin-top: 10px;
   font-size: 75px;
   font-weight: bold;
   line-height: 72px;
   color:#30B868;
   margin-bottom: 16px;
}
.banner .hero-section .banner-details p{
    color: #FFFFFF;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 10px;

}
.btn1{
    background-color: #469165;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn2{
    background: none;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 16px;
    border-radius: 5px;
    border-color: #FFFFFF;
    cursor: pointer;
}
.btn2:hover{
    background-color: #0a2516;
}
.btn:hover{
    background-color: #728f7e;
}
.btn1:hover{
    background-color: #789585;
}
.card-container{
 width: 71%;
    max-width: 1600px;
    margin: auto;
}
.card-section .card-section-heading {
    text-align: center;
    
}

.card-section .card-section-heading h1{
    font-size: 48px;
    margin-top: 36px;
}

.card-section .card-section-heading p{
    color:#627382 ;
}


.card-section .card-container .card-parent{
   margin-top: 20px;
    display: flex;
    justify-content:center;
    gap: 25px;
    border-radius: 4px;
    

}
.card-parent .card-info{
    padding: 25px;
    max-width: 1600px;
    box-shadow:0 6px 10px 0 #0000001c;
}

.card-info img{
    background-color: #F95555;
    padding: 5px;
    border-radius: 100%;
    margin-left: 55px;
    margin-bottom: 10px;
   
}


.card-info h4{
    color:#001931;
    margin-bottom: 16px;
}

.card-info p{
    margin-top: 10px;
    line-height: 25px;
    color: #627382;
}

.solution-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    
   
}

.solution-container .solution-details{
    margin-top: 75px;
    
}

.solution-container .solution-image img{
    margin-top: 50px;
}

.solution-details h5{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    margin-bottom: 16px;
    
    
}

.solution-details h1{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 50px;
    
    
}

.solution-details p{
    margin-top: 10px;
    margin-bottom: 20px;
    color:#627382;
}
.solution-details img,span{
    vertical-align: middle;
    margin:5px;
}


